@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/*
Color Guide:
dark gray: #202020;
slightly less dark gray: #303030 for hexdump background
yellow: #ffff39;
yellow: #f9c900;
light yellow: #ffff87;
dark yellow/green: #b5b502
*/

h1 {
    background: #202020 url("LemonHeaderBackground.png") repeat;
    padding: 0.75em 0 .75em 1em;
    margin-top: 0;
    color: #202020;
}

h2 {
    display: inline;
    font-size: 1.25em;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: #202020 url("SBL_BackGround.png") repeat;
    margin: 0;
}

article {
    margin: 2em 15%;
    border-radius: 10px;
    color: #202020;
    background: #f9c900;
    /* 1px so that it adds to the <p>'s margin. If it is 0, the margin collapses */
    padding: 1px 1em;
}

article.episode {
    padding: 0;
}

summary {
    cursor: pointer;
    padding: 1em;
    border-radius: 10px;
    background: #f9c900;
}

summary:hover {
    background: #ffff87;
}

p.show-description {
    margin-bottom: 0;
}

footer {
    padding: 0 3em 1em 3em;
}

footer span {
    margin-right: 20px;
}

.airdate {
    white-space: nowrap;
}