@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/*
Color Guide:
dark gray: #202020;
light yellow: #ffff39;
dark yellow/green: #b5b502
*/

h1 {
    background: linear-gradient(to right, #202020, #ffff39);
    padding: .75em 0;
}

h2 {
    display: inline;
    font-size: 1.25em;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: #202020;
    color: #ffff39;
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

article {
    padding: 1em;
    margin: 0 50px;
    color: #202020;
}

article:nth-child(odd) {
    background: #b5b502;
}

article:nth-child(even) {
    background: #ffff39;
}

summary {
    cursor: pointer;
}

footer {
    padding: 50px;
}

footer span {
    margin-right: 20px;
}