/* For mobile: get rid of background images for faster page load and remove extra margins that waste space. */
@media screen and (max-width: 480px) {
    article {
        margin: 2em 0;
    }

    h1 {
        background: #f9c900;
    }

    body {
        background: #202020;
    }
}